<% content_for :content do %>
<div class="w470">
	
	<div class="w460 radius4 green0f green4b f130 lh130 p5 mr0">Borrar mensaje</div>
	<div class="w460 fcolor8 f110 lh110 mt10"><p>¿Quieres borrar el mensaje titulado '<%= @message.subject %>?</p></div>
	
	<div class="clear"></div>
	<div class="mt10 w470">
		<div class="right">
			<a href="#" class="button close">No</a>
			<%= link_to "Si", message_destroy_inbox_url(:slug => @message.slug), :class => 'button' %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>