<div class="span-24 header-alt last">
	<div class="header-content">
        <div class="logo">
		<%= link_to image_tag("/images/portal/logo.png", :alt =>APP_CONFIG["app_title"]), root_path %>
        </div>
    </div>
</div>