<div class="mt10 green0f green3b pr10 pl10 pt5 pb5 radius4tl radius4tr b ">
	Profesionales (<%#= @profile.friends_count %>)
</div>
<div class="color1 p10 radius4bl radius4br">

</div>
<div class="green0f green3b pr10 pl10 radius4bl radius4br pt5 pb5">
	<%= link_to "Ver todos", "#", :class => 'gside' %>
</div>