<% content_for :content do %>
<div class="w470">
	<%= form_tag(search_results_url, :method => 'post') %>
	<div class="w460 radius4 green0f green4b f130 lh130 p5 mr0">Buscar en taradai</div>
	<div class="w460 fcolor8 f110 lh110 mt10"><p>Utiliza este formulario para buscar en taradai. Selecciona qué quieres buscar y escribe los criterios de búsqueda.</p></div>
	
	<div class="w460 fcolor9 f110 lh110 mt10">
		<div class="w70 mr10 tright left mb10"><strong>¿Qué buscas?</strong></div>
	
		<div class="w370 right mb10">
			<%= select_tag :for, options_for_select([['Gente', 'people'], ['Grupos','groups']], 'people')  %>
		</div>
		<div class="clear">
		<div class="w70 mr10 tright left"><strong>Búsqueda:</strong></div>
	
		<div class="w370 right">
			<%= text_field_tag 'search', '' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="mt10 w540">
		<div class="right">
	<input type="button" value="Cancelar" class="close" />
	<%= submit_tag 'Buscar', :class => 'ml10' %>
		</div>
	</div>
	</form>
	<div class="clear"></div>
</div>
<% end %>