<% content_for :main do %>
		<ul class="friends">
			<% @members.each do |m| %>
				<li style="height:70px; border-bottom:1px #aaa solid;">
					<div class="left w80 m10"><%= link_to image_tag(file_path(m.portrait, 'portrait', '50'), :alt=> m.name, :type => "p50"), profile_show_url(:profilename => m.profilename) %></div>
					<div class="left w440 f105 m10"><%= link_to m.name, profile_show_url(:profilename => m.profilename) %>
						<% if m.id.to_s == @group.owner_id %>
							<%= " (creador)" %>
						<% end %>
						<br/>
						<div id="hideable" class="right">
						<% if m != @current_profile and @current_profile.connected?('Friend', m) == false %>
							<%= link_to 'Añadir como amigo', friend_request_url(:profilename => m.profilename), :type => 'modal' %>
						<% end %>
						</div>
					</div>
				</li>
				<div class="clear"></div>
			<% end %>
		</ul>
<% end %>