<div class="span-24 last">
	<div class="header-content">
		<%= render :partial => 'layouts/common/logo' %>        
		<%= render :partial => 'layouts/common/usermenu'%>
    </div>
</div>
<!-- <div class="span-24 menu last">
<%#= render :partial => 'layouts/common/tabs' %>	
<%#= render :partial => 'layouts/common/mainmenu' %>
</div> -->