<div class= "tabs-container">
	<ul class= "tabs">
		<li class="active"><a href="#act">Actividad</a></li>
		<li class="n"><a href="#info">Información</a></li>
		<li class="n">Amigos<%#= link_to "Amigos", friends_show_path %></li>
		<li class="n"><a href="#art">Artículos</a></li>
		<li class="n"><a href="#gro">Grupos</a></li>
	</ul>
</div>