<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Taradai</title>
<style type="text/css"> body { margin:0;padding:0;background-color:#ffdcff;background:#ffdcff;}</style>
</head>
<body bgcolor="#ffdcff" link="#f26422" vlink="#f26422">
<table align="center" bgcolor="#ffdcff" cellpadding="0" cellspacing="0" style="width: 100%; background:#ffdcff; background-color:#ffdcff; margin:0; padding:0 20px;">
	<tr>
		<td>
		<table align="center" cellpadding="0" cellspacing="0" style="width: 620px; border-collapse:collapse; text-align:left; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444; margin:0 auto;">
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:20px 0 0 0;;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/WhiteT.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
			</tr>
			<tr>
				<td style=" width:620px;" valign="top">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444;" >

						<tr>
							<td bgcolor="#FFFFFF" style="width: 320px; padding:20px 0 15px 20px; background:#ffffff; background-color:#ffffff;" valign="middle">
								<p style="padding:0; margin:0; line-height:160%; font-size:18px;">
									<img alt="taradai" height="60" src="http://assets.taradai.com/images/portal/logo.png" style="padding:0;border:0;" width="268">
								</p>
							</td>
							<td bgcolor="#FFFFFF" style="width: 300px; padding:20px 20px 15px 20px; background:#ffffff; background-color:#ffffff; text-align:center;" valign="middle">
								<a style="text-decoration:none; color:#7c5893;" href="#">¿No puedes leer este correo?<br>
								Pulsa aquí para verlo en el navegador.</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:0;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/WhiteB.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
				</td>
			</tr>
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/WhiteT.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="padding:10px 20px; background:#ffffff;background-color:#ffffff;" valign="top">
					<%= yield :message %>
				</td>
			</tr>
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:0;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/WhiteB.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
				</td>
			</tr>
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/PurpleT.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
				</td>
			</tr>
			<tr>
				<td bgcolor="#7c5893" style="padding:0 20px 15px 20px; background-color:#7c5893; background:#7c5893;">
					<table cellpadding="0" cellspacing="0" style="width: 100%; border-collapse:collapse; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#FFFFFF;">
						<tr>
							<td style="padding:20px 0 0 0;">
							  <p>Has recibido este correo por que te diste de alta en nuestro sitio web.<br>
								Puedes cambiar tus preferencias de correo entrando en las <a style="color:#ffdcff; text-decoration:underline;"  href="#">preferencias de privacidad de tu perfil.</a><br>
								  © 2011 
						    Reto Contínuo, S.L. Reservados todos los derechos. </p></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top" style="height:5px;margin:0;padding:0 0 20px 0;line-height:0;">
				<img alt="" height="5" src="http://assets.taradai.com/images/mail/PurpleB.png" style="padding:0;border:0;margin:0,line-height:0;" width="620">
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>